.section {
  width: 100%;
  height: 100vh;
}

.form-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  display: flex;
}

.secured-form {
  border: 1px solid #b8b8b8;
  border-radius: 14px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 24.2rem;
  height: auto;
  min-height: 28.5rem;
  padding: 37px 22px 22px;
  display: flex;
}

.securee {
  width: 100%;
}

.button {
  background-color: #0057b8;
  border-radius: 30px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: Exo, sans-serif;
  font-weight: 500;
}

.field-label {
  font-family: Exo, sans-serif;
}

.field {
  border: 1px solid #131313;
  border-radius: 10px;
  height: 43px;
  margin-bottom: 25px;
}

.div-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.image {
  width: 27%;
  max-width: none;
}

.heading {
  color: #272727;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  line-height: 1.3;
}

.div-block-2 {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 25px;
  display: flex;
}

.text-block {
  color: #004694;
  font-family: Exo, sans-serif;
  font-weight: 600;
}

.e.field {
  font-family: Exo, sans-serif;
  font-size: 14.5px;
}

.mailblock.securee.inacive {
  display: none;
}

.ms-input-wrap {
  padding: 0;
  display: flex;
  position: relative;
}

.ms-input {
  color: #121331;
  background-color: #fff;
  border: 1px solid #12133140;
  border-radius: 5px;
  min-height: 40px;
  margin-bottom: 20px;
  padding: 8px 12px;
  transition: box-shadow .2s, border-color .2s;
  position: relative;
  box-shadow: 0 5px 10px -5px #0000001a;
}

.ms-input:hover {
  z-index: 2;
  box-shadow: none;
  border-color: #2962ff;
}

.ms-input::placeholder {
  color: #909090;
}

.ms-input.field {
  border-color: #303030;
  border-radius: 10px;
}

.ms-password-wrap {
  z-index: 4;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 0;
  display: flex;
  position: absolute;
  inset: -20px 0 auto auto;
}

.ms-password-button {
  background-color: #fff0;
  padding: 0 7px 0 6px;
  font-size: 13.5px;
  display: flex;
  bottom: 5px;
}

.ms-password-button.w--current {
  display: none;
}

.ms-eye-svg {
  justify-content: center;
  align-items: center;
  width: 16px;
  margin-right: 4px;
  display: flex;
}

.ms-hide {
  display: none;
}

.tabs-menu {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 29px;
  display: flex;
}

.user.button {
  text-align: center;
}

.div-block-3 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}

.back {
  outline-offset: 0px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 300px;
  outline: 3px #333;
  width: 20px;
  max-width: none;
  height: 20px;
  padding: 1px 3px;
}

.password.securee.inacive {
  display: none;
}

.div-block-4 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
}

.text-block-2 {
  font-family: Exo, sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 479px) {
  .secured-form {
    width: 98%;
  }

  .image {
    width: 42%;
  }

  .back {
    padding-right: 3px;
  }

  .div-block-4 {
    grid-column-gap: 9px;
    grid-row-gap: 9px;
    flex-flow: row-reverse wrap;
  }

  .div-block-4.niki {
    margin-top: 10px;
    margin-bottom: 7px;
  }
}
